body {
    margin: 0;
    overflow: hidden;
}

#previous_page_area {
    cursor: pointer;
    position: absolute;
    width: 5%;
    height: 100%;
    z-index: 1;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-tap-highlight-color: transparent;
    background-color: black;
    -webkit-mask-image: url(../ui/prev_page_btn.svg);
}

#next_page_area {
    cursor: pointer;
    position: absolute;
    right: 0;
    width: 5%;
    height: 100%;
    z-index: 1;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-tap-highlight-color: transparent;
    background-color: black;
    -webkit-mask-image: url(../ui/next_page_btn.svg);
}

#control_bar {
    user-select: none;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 2;
    position: absolute;
}

#location_cnt {
    width: 130px;
    text-align: center;
}

#location {
    font-family: sans-serif;
    font-size: x-large;
}

#book_area {
    top: 50px;
    position: absolute;
    height: calc(100vh - 50px);
    width: 100%;
    display: flex;
    justify-content: center;
}

#book_cont {
    width: 95%;
}

.hide {
    opacity: 0;
}

.hover_show {
    /* Show only on hover */
    opacity: 0;
    transition: opacity 0.5s;
}

.hover_show:hover {
    /* Show on hover */
    opacity: 1;
}

button {
    user-select: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-color: initial;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    cursor: pointer;
    border: none;
    outline: none;
    height: 30px;
    width: 30px;
    margin: 5px 15px 5px 15px;
    -webkit-tap-highlight-color: transparent;
}

button:active {
    filter: brightness(0.2);
}


/* Setup the slider */

#slider {
    width: 40%;
    -webkit-appearance: none;
    height: 5px;
    border-radius: 2px;
    margin: 10px 20px 10px 20px;
    background: linear-gradient(to right, red 0%, black 0%);
    background-size: 200% 100%;
    background-position: left bottom;
    cursor: pointer;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: url(../ui/seek_button.svg);
    filter: grayscale(100%) brightness(2.5);
    cursor: pointer;
}

#slider::-webkit-slider-thumb:hover {
    filter: grayscale(100%) brightness(3);
}

#slider::-webkit-slider-thumb:active {
    filter: grayscale(100%) brightness(1);
}

#slider:focus {
    outline: none;
}


/* Set image for each button */

#back {
    background-image: url(../ui/back_btn.svg);
}

#decrease_font_size {
    background-image: url(../ui/decrease_font_size_btn.svg);
}

#increase_font_size {
    background-image: url(../ui/increase_font_size_btn.svg);
}

#single_page {
    background-color: black;
    -webkit-mask-image: url(../ui/single_page_btn.svg);
}

#fullscreen {
    background-color: black;
    -webkit-mask-image: url(../ui/fullscreen_btn.svg);
}