body {
    margin: 0;
}

#control_bar {
    user-select: none;
    height: 40px;
}

#book_cont {
    height: calc(100vh - 40px);
}

.hover_show {
    /* Show only on hover */
    opacity: 0;
    transition: opacity 0.5s;
}

.hover_show:hover {
    /* Show on hover */
    opacity: 1;
}

button {
    user-select: inherit;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    outline: none;
    height: 30px;
    width: 30px;
    margin: 5px 15px 5px 15px;
}

button:hover {
    filter: brightness(0.6);
}

button:active {
    filter: brightness(0.2);
}


/* Setup the slider */

#slider {
    -webkit-appearance: none;
    height: 5px;
    border-radius: 2px;
    margin: 10px 0 10px 0;
    background: linear-gradient(to right, red 0%, black 0%);
    background-size: 200% 100%;
    background-position: left bottom;
    cursor: pointer;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: url(../ui/seek_button.svg);
    filter: grayscale(100%) brightness(2.5);
    cursor: pointer;
}

#slider::-webkit-slider-thumb:hover {
    filter: grayscale(100%) brightness(3);
}

#slider::-webkit-slider-thumb:active {
    filter: grayscale(100%) brightness(1);
}

#slider:focus {
    outline: none;
}


/* Set image for each button */

#decrease_font_size {
    background: url(../ui/decrease_font_size_btn.svg);
}

#increase_font_size {
    background: url(../ui/increase_font_size_btn.svg);
}

#single_page {
    background: url(../ui/single_page_btn.svg);
}

#fullscreen {
    background: url(../ui/fullscreen_btn.svg);
}